@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
html,
body {
  height: 100%;
}

body {
 
  font-family: Alegreya Sans, sans-serif;
}

nav {
  display: block;
  position: fixed;
  width: 800px;
  height:800px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
  transform: translate3d(0, 0, 0);
  width: 700px;
  height: 700px;
}
nav.top-right {
  top: -260px;
  right: -300px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 250px;
  transform: scale3d(1, 0.5, 0.5) rotate3d(0, 1, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
}
.disc div {
  transform: rotate(180deg);
}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}
.lx {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgb(71, 157, 255);
	transition-delay: 0s;
  }
  .open .lx {
	transition-delay: 0s;
	transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
	opacity: 1;
  }
  .open .lx:hover {
	background: shade(tomato, 90%);
	color: tomato;
	transition-delay: 0s;
  }
  .open .lx:active {
	background: shade(tomato, 50%);
	color: tomato;
  }
  .open .lx.toggle {
	transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
  }

.l0 {
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: 50px;
	background: rgba(71, 255, 209, 0.808);
	transition-delay: 0s;
  }
  .open .l0 {
	transition-delay: 0s;
	transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
	opacity: 1;
  }
  .open .l0:hover {
	background: shade(tomato, 90%);
	color: tomato;
	transition-delay: 0s;
  }
  .open .l0:active {
	background: shade(tomato, 50%);
	color: tomato;
  }
  .open .l0.toggle {
	transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
  }

.l1 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: tomato;
  transition-delay:0.1s;
}
.open .l1 {
  transition-delay: 0s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: shade(tomato, 90%);
  color: tomato;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(tomato, 50%);
  color: tomato;
}
.open .l1.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #ff7a39;
  transition-delay: 0.2s;
}
.open .l2 {
  transition-delay: 0.1s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: shade(#ff7a39, 90%);
  color: #ff7a39;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(#ff7a39, 50%);
  color: #ff7a39;
}
.open .l2.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #c57c38;
  transition-delay: 0.3s;
}
.open .l3 {
  transition-delay: 0.2s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: shade(#ff912b, 90%);
  color: #ff912b;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(#ff912b, 50%);
  color: #ff912b;
}
.open .l3.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 250px;
  left: 250px;
  right: 250px;
  bottom: 250px;
  background: #ffa91c;
  transition-delay: 0.4s;
}
.open .l4 {
  transition-delay: 0.3s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: shade(#ffa91c, 90%);
  color: #ffa91c;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(#ffa91c, 50%);
  color: #ffa91c;
}
.open .l4.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 300px;
  left: 300px;
  right: 350px;
  bottom: 350px;
  background: #ffc00e;
  transition-delay: 0.5s;
}
.open .l5 {
  transition-delay: 0.5s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l5:hover {
  background: shade(#ffc00e, 90%);
  color: #ffc00e;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(#ffc00e, 50%);
  color: #ffc00e;
}
.open .l5.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 1;
  width: 100px;
  height : 100px;
  background: gold;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;


  
}
.open .toggle {
  transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
  background: shade(gold, 90%);

}
.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  transform: scale(0.9);
  transition-duration: 0s;
}
